body {
    margin: 0;
    font-family: sans-serif;
    color: #fff;
    background-color: #171f2a;
}

* {
    box-sizing: border-box;
}

.page-wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

.mobile-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.navbar-wrapper {
    background: #1d3f57;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.navbar li {
    list-style: none;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 2px solid #1d3f57;
}

.navbar li.active {
    border-bottom: 2px solid #8d9fab;
}

.navbar li a {
    color: #8d9fab;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin: 5px 0;
}

h1,
h2 {
    text-align: center;
    margin-top: 50px;
    font-weight: 500;
    font-size: 20px;
}

.btn-wrapper a,
button {
    background-color: #1d3f57;
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    outline: none !important;
    cursor: pointer;
}

.btn-wrapper a:hover,
button:hover {
    background-color: #8d9fab;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.select-wrapper {
  display: flex;
  justify-content: center;
  margin: 50px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.horizontal-slider-wrapper {
    margin: 0 80px;
}

.time-wrapper {
    display: flex;
    justify-content: center;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.sleep-start-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30%;
}

.sleep-start-content {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sleep-start-content img{
  max-width: 30%;
}